<mat-card>

    <mat-list>

        <div class="fila">
            <mat-icon>bookmark</mat-icon>
            <h2 id="ordenId">Vehiculo</h2>
        </div>

        <mat-list-item></mat-list-item>

        <mat-list-item>
            <mat-icon>hourglass_full</mat-icon>
            <h3 id="tiempoExtra">Placa: {{ vehiculo.placa }}</h3>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
            <button id="parquearVehiculo" class="width-100" color="warn" (click)="doParquear()" mat-raised-button>Parquear</button>
        </mat-list-item>
    </mat-list>
</mat-card>