

<button mat-button [matMenuTriggerFor]="menus">
    <mat-icon>drag_indicator</mat-icon>
</button>
<mat-menu #menus="matMenu">

  <button mat-menu-item [matMenuTriggerFor]="vehiculo">
    <mat-icon>{{ menuVehiculo.matIcono }}</mat-icon>
    <span>{{ menuVehiculo.titulo }}</span>
  </button>

</mat-menu>

<mat-menu #vehiculo="matMenu">

  <button routerLink="/vehicle/add" mat-menu-item>
    <mat-icon>{{ menuAgregarVehiculo.matIcono }}</mat-icon>
    <span>{{ menuAgregarVehiculo.titulo }}</span>
  </button>

  <button routerLink="/vehicle/list" mat-menu-item>
    <mat-icon>{{ menuListarVehiculos.matIcono }}</mat-icon>
    <span>{{ menuListarVehiculos.titulo }}</span>
  </button>
</mat-menu>





