<div class="body">

    <mat-card>
        <form [formGroup]="formUsuario" class="formulario"  (ngSubmit)="registrar()">

            <h2 class="formulario-titulo">Registro</h2>

            <div>
                <mat-form-field class="formulario-campo">
                    <mat-label>Nombre de usuario</mat-label>
                    <input id="nombreUsuario" validar type="text" matInput placeholder="Ingresa el nombre de usuario"
                        formControlName="nombreUsuario">
                </mat-form-field>

                <mat-form-field class="formulario-campo">
                    <mat-label>Contraseña</mat-label>
                    <input id="contrasena" validar type="text" matInput placeholder="Ingresa la contraseña"
                        formControlName="contrasena">
                </mat-form-field>

                <mat-form-field class="formulario-campo">
                    <mat-label>Confirmar contraseña</mat-label>
                    <input id="confirmarContrasena" validar type="text" matInput placeholder="Confirma la contraseña"
                        formControlName="confirmarContrasena">
                </mat-form-field>

                <mat-form-field class="formulario-campo" appearance="fill">
                    <mat-label>Roles</mat-label>
                    <mat-select formControlName="roles" multiple>
                      <mat-option *ngFor="let role of rolesPermitidos" [value]="role.toUpperCase()">{{role}}</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>

            <p class="formulario-invitacion">¿Ya tienes una cuenta? <a routerLink="/auth/login">Inicia sesión!</a></p>

            <div class="formulario-botones">
                <button class="formulario-btn" mat-raised-button id="formulario-btn-cancelar">Cancelar</button>
                <button class="formulario-btn" mat-raised-button *ngIf="formUsuario.valid" type="submit">Ok</button>
            </div>
        </form>
    </mat-card>

</div>